@*
    <link rel="stylesheet" href="~/css/style.css">

    <script src="~/js/scripts.js"></script>
    <div id="traffic-light">
        <input type="radio" name="traffic-light-color" class="bulb" id="red" value="color1" />
        <input type="radio" name="traffic-light-color" class="bulb" id="orange" value="color2" />
        <input type="radio" name="traffic-light-color" class="bulb" id="green" value="color3" />


    </div>

    <div class="buttons">

        <input type="button" id="colorButton" value="Red" onclick="changeColor('red')">

        <input type="button" id="colorButton" value="Yellow" onclick="changeColor('orange')">

        <input type="button" id="colorButton" value="Green" onclick="changeColor('green')">


    </div>

    <form method="post">
    <input type="submit"    asp-page-handler="NextColor" value="Next" />
    </form>*@

<link rel="stylesheet" href="~/css/style.css">

<script src="~/js/scripts.js"></script>

<script type="blazor-boot">
</script>
@if (ViewBag.Color == "red")
{
    <script>
        window.onload = function () { // same as window.addEventListener('load', (event) => {
            changeColor('yellow');
            changeColor('red');
        };
    </script>
}
else if (ViewBag.Color == "yellow")
{
    <script>
        window.onload = function () { // same as window.addEventListener('load', (event) => {
            changeColor('yellow');
        };
    </script>
}
else if (ViewBag.Color == "green")
{
    <script>
        window.onload = function () { // same as window.addEventListener('load', (event) => {
            changeColor('yellow');
            changeColor('green');
        };

    </script>
}






<div id="traffic-light">
    <input type="radio" name="traffic-light-color" class="bulb" id="red" value="color1" />
    <input type="radio" name="traffic-light-color" class="bulb" id="yellow" value="color2" />
    <input type="radio" name="traffic-light-color" class="bulb" id="green" value="color3" />


</div>


<form method="post">
    <input type="submit" asp-page-handler="NextColor" value="Next" />
</form>